.levels-menu-view {
    grid-template-rows: [header] 15% [level-list] 85%;
    grid-template-columns: 1fr;
    background-color: rgb(248, 179, 156);
}

.levels-menu-header {
    display: grid; 
    grid-template-columns: 1fr;
}

.levels-menu-level-list {
    display: flex;
    flex-wrap: wrap; 
    text-align: left;
    overflow: scroll;
    background-color: rgba(250, 147, 128, 0.733);
}

.levels-menu-item {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: left;
    text-align: center;
    border: 1px;
    border-style: dotted; 
}

.level-menu-item-title {
    display: flex; 
}

.level-menu-item-high-score {
    display: flex; 
}

@media (orientation: landscape) {    
    .levels-menu-header {
        font-size: 10vh;
    }
    
    .levels-menu-level-list {
        font-size: 6vw;
    }
    
    .levels-menu-item {
        height: 40%;
        width: 49vw; 
    }
}

@media (orientation: portrait) {
    .levels-menu-header {
        font-size: 7vh;
    }
    
    .levels-menu-level-list {
        font-size: 7vh;
    }
    
    .levels-menu-item {
        height: 23%;
        width: 100vw;
    }
}