.quiz-view {
    grid-template-rows: [score] 15% [question] 55% [answers] 30%;
    grid-template-columns: 1fr;
    background-color: rgb(248, 179, 156);
}

.score {
    display: grid; 
    grid-template-columns: 1fr 1fr;
}

.question {
    display: flex;
    background-color: aqua;
    font-size: 15vw;
}

.answers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-size: 10vw;
}

.answer {
    display: flex; 
}