.App {
  width: 100vw;
}

div {
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  height: 100%;
}

body, html {
  background-color: white;
}

.view {
  display: grid; 
  height: 100vh;
  background-color: rgb(240, 202, 140);
}

.button {
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
}

.button:hover {
  background-color:  rgb(189, 122, 46);
}