.quiz-done-view {
    grid-template-rows: [picture] 40% [text] 30% [options] 30%;
    grid-template-columns: 1fr;
    background-color: rgb(247, 214, 183);
}

.done-buttons {
    display: grid; 
    grid-template-columns: 1fr 1fr;
}

.done-button {
    display: flex; 
    grid-template-columns: 1fr 1fr;
    font-size: 6vh;
}

.done-text {
    display: flex;
    background-color: aqua;
}

@media (orientation: portrait) {
    .done-text {
        font-size: 5vh;
    }    
} 

@media (orientation: landscape) {
    .done-text {
        font-size: 6vh;
    }    
} 